* {
    padding: 0;
    margin: 0;
}
ul {
    list-style: none;
}
li a {
    color: white;
}

body {
    background: orange url("images/background.jpg") no-repeat left top;
    height: 1000px;
}

.content {
    width: 1000px;
    margin: 200px auto;
}

.content .title {
    margin-bottom: 50px;
}